@font-face {
    font-family: "GT-Walsheim"; 
    src: url("fonts2/GTWalsheimPro-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
/* @font-face {
    font-family: "GT-Walsheim"; 
    src: url("fonts2/GTWalsheimPro-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} */
body {
    margin: 0;
    padding: 0;
    font-family: "GT-Walsheim";
}
p {
    padding: 0;
}
.video_bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media (max-height: 755px) {
    .video_bg {
        overflow-y: scroll;
    }
}
.video_bg video {
width: 100%;
height: 100vh;
min-height: 755px; 
position: absolute;
top: 0;
left: 0;
object-fit: cover;
z-index: 1;
}
.header {
    z-index: 3; 
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 775px;
    height: 100vh;
    /* background: #FFF; */
    min-height: 755px; 
}
.logo {
    max-width: 300px;
}
.circles {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 3;
    max-width: 165px;
}
.content {
    position: absolute;
    bottom: 35%;
    left: 23px;
    z-index: 4;
    padding: 10px;
    max-width: 600px;
    font-size: 1.8em;
    text-align: justify;
    color: #5e296e;
}
.content p {
    padding: 0;
    margin: 0;

}
.audio {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.play,
.pause{
    width: 150px;
    margin-left: -20px;
    cursor: pointer;
}
button {
    background: transparent;
    border: none;
}
.hidden {
    display: none;
}
.mobile {
    display: none;
}
.desktop {
    background: url("image.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.glowIn {
    color: #5e296e;

  }
.glowIn span {
    animation: glow-in 0.8s both;
}
@keyframes glow-in {
    from {
      opacity: 0;
    }
    65% {
      opacity: 1;
      text-shadow: 0 0 25px white;
    }
    75% {
      opacity: 1;
    }
    to {
      opacity: 0.7;
    }
  }
@media (max-width: 670px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        background: url("image2.png");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .video_bg {
        min-width: 300px;
    }
    .header {
        background: transparent;
        width: 100%;
    }
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
        padding: 10px;
        width: auto;
        font-size: 20px;
        text-align: center;
        color: #662a79;
    }

    .audio {
        bottom: auto;
        top: 65px;
        left: -8px;
    }
    .play,
    .pause{
        width: 80px;
        margin-left: 0;
        margin-top: -10px;
        margin-right: -40px;
        cursor: pointer;
    }
    .logo {
        max-width: 200px;
    }
    .circles {
        max-width: 100px;
    }
}
